* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter";
}

body {
    background: rgb(241, 240, 240);
}

.header {
    background: rgb(239, 237, 237);
    border: 2px solid #DEDBDB;
    background-color: #fff;
}

.container {
    max-width: 100%;
    width: 85%;
    margin: 0 auto;
}

.header {
    border-bottom: 2px solid #000;
}

.header-wrapper {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-box {
    display: flex;
    align-items: center;
    gap: 30px;
}


.header-bootom {
    border-radius: 20px;
    padding: 40px;
    width: 800px;
    margin: 200px auto;
    background-color: #fff;
}

.header-text {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #F0400F;
    padding: 73px 0;
}


.text {
    margin: 50px 0;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0E0D5D;
}

.header-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.btn-card {
    background-color: #DEDBDB;
    width: 553px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 0;
    margin: 12px 30px;
    border-radius: 15px;
}

.btn {
    font-family: Inter;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    border: none;
    background-color: #fff;
    padding: 9px 40px;
    border-radius: 15px;
}

.parend {
    font-family: Inter;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #757575;
    border: none;
    background-color: #DEDBDB;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top {
    display: flex;
    align-items: center;
    gap: 30px;
}

.inputs-register {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 39px;
}

.input {
    width: 553px;
    padding: 21px 40px;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #757575B2;
    border: 1px solid #75757530;
    border-radius: 15px;
    background-color: #FAFAFA;
}

.qr-code {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000A3;

}

.paswword-input {
    width: 533px;
    border: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #757575B2;
    background-color: #FAFAFA;

}

.Подтвердить-btn {
    width: 200px;
    padding: 17px 23px;
    background-color: #F69E86;
    border: none;
    border-radius: 20px;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
    margin-left: 70%;
    margin-top: 60px;
}

.paswword {
    width: 555px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #75757530;
    border-radius: 20px;
    padding: 20px 40px;
    background-color: #FAFAFA;

}

.Подтвердить-btn:hover {
    background-color: #DEDBDB;
    color: #F0400F;
    transition: 0.4s all ease;
}